{% include header.html %}


<body class="animated fadeIn">
<div class="container content">
<header class="masthead" style="background-image: /images/LibertyNewsLogo.png;">

    <!-- Navigation Loop -->
    {% include nav.html %}

    <div class="dot"></div>
    <h1 class="big-serif">Liberty<br>Nation<br>News</h1>
    <h2 class="small-sans"><a href="{{ site.url }}/about">is</a> your source of the real facts brought to you<br>
      without the entertaining fluf of the mainsteam media<br>
      disrupting the future of news at <a href="http://www.LibertyNation.news" target="_blank">Liberty Nation</a>.</h2>

</header>

{{ content }}

{% include footer.html %}

</body>


</html>
